/* .basic-content {
    padding: 0 10px 10px;
}

.basic-titleFont {
    color: #be0404d8 !important;
    font-weight: bold;
}

.basic-nav {
    background: #fff !important;
    padding: 10px 5px !important;
}

.text-active a {
    color: #2593fc;
    font-weight: bold
}

.text-active {
    color: #2593fc;
    font-weight: bold
}

.basicdata-detail {
    padding: 5px 0
}

.basicdata-detail dt {
    width: 100px;
}

.basicdata-detail dt,
.basicdata-detail dd {
    display: inline-block;
    padding-right: 10px;
} */